chaindeploy 
database/

# Hyperledger Fabric
fabric-ca
/fabric-ca-client
/fabric-ca-server-tls
/fabric-samples
install-fabric.sh

# Documentation
TODO.md
GRYPHEN_DOCS.md
NOTES.md
ChainCodeSecurity.md
solution.md

# Stray Files
/*.pid
/*.log
/*.yaml
/*.yml
.env
/graphify-out
