chaindeploy 
database/
/.github/agents/

# Hyperledger Fabric
fabric-ca
/fabric-ca-client
/fabric-ca-server-tls
/fabric-samples
/.workspaces
docker/compose/.workspaces/
install-fabric.sh

# Documentation
TODO.md
GRYPHEN_DOCS.md
NOTES.md
ChainCodeSecurity.md
solution.md

# Stray Files
/*.pid
/*.log
/*.yaml
/*.yml
.env
/graphify-out
