node_modules
package-lock.json
../database/
config/serviceAccount.json
db/knexfile.js
.npm
.env*
logs/
.cache/
.next/
.nuxt/
.vuepress/dist/
.yarn/
.serverless/
.pnp.*   
/graphify-out
.md
.pem
.db
IssuerPublicKey
IssuerRevocationPublicKey
keystore
msp
docs